/*.navbar{
  background-color: lightgrey;
}

.navbar-brand{
  padding-top: 10px;
}*/

.navbar-form #searchInput{
  width: 150px;
  /*margin-left: 50px;*/
}

.siteLogo{
  font-family: OpenSans;
  font-size: 45px;
}

/*------------- Carousel ----------------*/

/*.container{
  position: relative;
}*/

#myCarousel{
  margin-top: 60px;
}

#myCarousel .carousel-inner .item{
  height: 400px;
}

#myCarousel .carousel-inner #slide1{
  background: url("../image/hero_med1.jpg") top center no-repeat;
}

#myCarousel .carousel-inner #slide2{
  background: url("../image/Web_designing_med2.png") top center no-repeat;
}

#myCarousel .carousel-inner #slide3{
  background: url("../image/Web_maintenance_med3.png") top center no-repeat;
}

#myCarousel .carousel-inner h4{
  font-size: 50px;
  margin-top: -250px;
  color: #D0FA58;
}

#myCarousel .carousel-inner p{
  font-size: 30px;
  font-weight: bold;
  color: #00FF00;
}

/*----------------- Info ---------------------*/

#info p{
  text-align: justify;
}

/*------------------- Web Insight ---------------------*/

#web_insight{
  margin-top: 20px;
}

#web_insight h2{
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}
/*#web_insight #web_insight_content{
}*/
#web_insight #web_insight_image{
  margin-top: 20px;
}

/*.thumbnail{
  position: relative;
}*/

/*------------------ Statistics ------------------*/

#statistics{
  margin-top: 20px;
}

#statistics h2{
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

#statistics #statistics_image{
  margin-top: 20px;
}

/*----------------- Footer -----------------*/

footer{
  margin-top: 20px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

footer h4{
  font-weight: bold;
  margin-bottom:15px;
}

ul.unstyled{
  padding-left: 0;
}

ul.unstyled li{
  list-style: none;
  margin-bottom: 8px;
}

#footer .likes ul li{
  display: inline;
}

#footer .likes img{
  width: 35px;
  height: 35px;
  margin-bottom: 5px;
}

 /*------------------- Media Queries -------------------*/

 @media (max-width: 992px){
   .siteLogo{
     font-size: 30px;
   }
   #myCarousel .carousel-inner #slide1{
     background: url("../image/hero_small1.jpg") top center no-repeat;
   }

   #myCarousel .carousel-inner #slide2{
     background: url("../image/Web_designing_small2.png") top center no-repeat;
   }

   #myCarousel .carousel-inner #slide3{
     background: url("../image/Web_maintenance_small3.png") top center no-repeat;
   }
   #myCarousel .carousel-inner h4{
     font-size: 40px;
     margin-top: -230px;
   }

   #myCarousel .carousel-inner p{
     font-size: 25px;
     font-weight: bold;
   }
 }
@media(max-width: 768px) {
  #myCarousel .carousel-inner .item{
    height: 310px;
      }
    #myCarousel .carousel-inner #slide1{
      background-size: 100% 100%;
    }

    #myCarousel .carousel-inner #slide2{
      background-size: 100% 100%;
    }

    #myCarousel .carousel-inner #slide3{
      background-size: 100% 100%;
    }

  #statistics #statistics_image img{
    float: none !important;
  }

  #web_insight #web_insight_image img{
    float: none !important;
  }
}

@media(max-width: 767px){
 footer #web_maintenance{
   clear: both;
 }
 .navbar-form #searchInput{
    display: inline;
 }
 #myCarousel .carousel-inner h4{
   font-size: 35px;
   margin-top: -230px;
 }

 #myCarousel .carousel-inner p{
   font-size: 20px;
   font-weight: bold;
 }
 }

@media(max-width: 320px){
    #statistics #statistics_image img, #web_insight #web_insight_image img{
      width: 200px;
    }
    #myCarousel .carousel-inner .item{
      height: 250px;
    }
    #myCarousel .carousel-inner h4{
      font-size: 25px;
      margin-top: -170px;
    }

    #myCarousel .carousel-inner p{
      font-size: 14px;
      font-weight: bold;
    }
    .siteLogo{
      font-size: 20px;
    }

    /*#myCarousel .carousel-inner h4{
      font-size: 30px;
      margin-top: -100px;
      color: #D0FA58;
    }*/

}

@media(max-width: 235px){
    #statistics #statistics_image img, #web_insight #web_insight_image img{
      width: 150px;
    }
    #myCarousel .carousel-inner .item{
      height: 200px;
    }
    footer .col-xs-6{
      width: 100%;
    }
}

@media(min-width: 1200px) {
  #myCarousel .carousel-inner .item{
    height: 500px;
  }
  #myCarousel .carousel-inner #slide1{
    background: url("../image/hero_large1.jpg") top center no-repeat;
  }

  #myCarousel .carousel-inner #slide2{
    background: url("../image/Web_designing_large2.png") top center no-repeat;
  }

  #myCarousel .carousel-inner #slide3{
    background: url("../image/Web_maintenance_large3.png") top center no-repeat;
  }
  #myCarousel .carousel-inner h4{
    margin-top: -300px;
  }
}



/*---------------- General ------------------*/
.siteName{
  color: red;
}

.glyphicon{
  margin-right: 5px;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
}
